<div class="row">
	<!-- Content -->
		<section class="6u" id="content">

		</section>
	<!-- Right Sidebar -->
		<section class="3u not-narrow not-wide" id="right-sidebar">
			<section>
				<h1>你好,<span id="fb_user">訪客</span></h1>
				<img class="people_nav" src="http://ext.pimg.tw/pest6210/52848fb3f2df5b69b44d00a599042512.jpg" alt="">
				<p class="slogan">歡迎來到阿哲心中的一把尺，透過這把尺，阿哲我將會推薦給你當季最合適而且便宜採購的食材，保證讓你吃得安心、買的開心、買菜更聰明。</p>
			</section>
			<section>
				<p id="fb_login" class="feature">登入使用</p>
			</section>
			<section>
				<p id="fb_logout" class="feature">登出</p>
			</section>

			{% if mode == "index" %}
				<section>
					<a class="feature {% if type == 'meat' %} block {% endif %}" href="/george?category=meat"><p>查看蛋與肉價錢</p></a>
				</section>
				<section>
					<a class="feature {% if type == 'vegetable' %} block {% endif %}" href="/george?category=vegetable"><p>查看蔬果價錢</p></a>
				</section>
				<section>
					<a class="feature {% if type == 'fish' %} block {% endif %}" href="/george?category=fish"><p>查看魚類價錢</p></a>
				</section>
			{% endif %}

			{% if mode == "detail" %}
			<section>
				<a id="leftfood"><p  class="feature">上一個食材</p></a>
			</section>
			<section>
				<a id="rightfood"><p class="feature">下一個食材</p></a>
			</section>
			{% endif %}

		</section>
</div>