{% extends "base.html" %}

{% block content %}
<script type="text/javascript">

	var Temp = {{ js_template('george/layout_main.html') }},

		fake_data = {
			'肉類': [{
					price: 1000,
				},{
					price: 1000,
				},{
					price: 1000,
				}],
			'蔬菜類': [{
					price: 1000,
				},{
					price: 1000,
				},{
					price: 1000,
				}],
			'水果類': [{
					price: 1000,
				},{
					price: 1000,
				},{
					price: 1000,
				}]
		},

		Data = George.getData(function(res){
			var real_data = {};
			real_data = res;
			return real_data
		}) || fake_data;

	// console.log(data)
	George.render(Temp, Data);

</script>
{% endblock %}