{% extends "base.html" %}


{% block content %}
<div class="row">
	<div class="level top-panel">
		{% include "component_loading.html" %}
	</div>
	<div class="level bottom-panel">
		<div class="row">
			<section class="12u">
				<div class="list_title"><img class="pre-icon" height="100" src="{{img}}" alt="">今天想要買什麼「{{text}}」<span class="vegetable"></span></div>
			</section>
		</div>

		<div class="row">
			<div id="list-dot-template"></div>
		</div>

		<div class="row">
			<div id="loading" class="12u"><a href=""></a></div>
		</div>
	</div>
</div>
{% endblock %}


{% block js %}
<script type="text/javascript">

	// var Temp = {{ js_template('george/template_item_list.html') }},
	var	Temp_apend = {{ js_template('george/template_item_append.html') }},

		// jquery object
		$level = $('#list-dot-template'),
		$w = $(window);

	$w.on({
	    ready: function (){
	    	George.event.initDisplay();
		    George.getItemList({
		    	id: George.env.init.category,
		    	size: 9
		    },function(res){

	            George.Data = res.slice(0,9);

	            setTimeout( function () {
	            	$('.top-panel').hide();
		    		$('.bottom-panel').show();

		            $level.html(George.render(Temp_apend, George.Data));
		            $('#loading a').attr('href','/api/food/'+ George.env.init.category +'/list?size=9&page=1');
		            // George.event.detectDeviceScreen();

		            // 登入機制
		            George.event.loginMechanism();

		            var container = document.querySelector('#list-dot-template');
					var msnry;
					// initialize Masonry after all images have loaded
					imagesLoaded( container, function() {
						console.log('已載入')
					  msnry = new Masonry( container, {
						  // options
						  columnWidth: 0,
						  gutter: 0,
						  itemSelector: '.item'
					  });
					});

					$('#list-dot-template').infinitescroll({
					    nextSelector : "#loading a",
						navSelector  : "#loading",
					    itemSelector : "#list-dot-template .item",
						dataType: 'json',
					    appendCallback: false,
					    errorCallback: function(errorType) {
							if (errorType == "done") { // Do something here
								console.log('have done!')
							}
						},
						loading: {
							img: '',
					        finished: undefined,
					        finishedMsg: "<em>沒有了噢</em>",
					        msg: null,
					        msgText: '<span class="loader loader-quart"></span>',
					        selector: null,
					        speed: 'fast',
					        start: undefined
					    }
					}, function(json, opts) {

						setTimeout( function () {
						// Get current page
						var page = opts.state.currPage;
						console.log(page)
						// $('#infscr-loading img').remove();
						$('#list-dot-template').append(George.render(Temp_apend, json));
						imagesLoaded( container, function() {
						  msnry = new Masonry( container, {
							  // options
							  columnWidth: 0,
							  gutter: 0,
							  itemSelector: '.item'
						  });
						});

						}, 1000 );
					});

	            }, 1000 );
	        });
	    }
	});




</script>
{% endblock %}