{% extends "base.html" %}


{% block content %}
<div class="row">
	<div class="level">
		{% include "component_loading.html" %}
	</div>
</div>
{% endblock %}


{% block js %}
<script type="text/javascript">

	var Temp = {{ js_template('george/template_item_list.html') }},
		Temp_apend = {{ js_template('george/template_item_append.html') }}

		// jquery object
		$level = $('.level'),
		$w = $(window);

	$w.on({
	    ready: function (){
	    	George.event.initDisplay();
		    George.getItemList({
		    	id: George.category
		    },function(res){
	            George.Data = res;

	            setTimeout( function () {

		            $level.html(George.render(Temp, George.Data));
		            // George.event.detectDeviceScreen();

		            var container = document.querySelector('#list-dot-template');
					var msnry;
					// initialize Masonry after all images have loaded
					imagesLoaded( container, function() {
					  msnry = new Masonry( container, {
						  // options
						  columnWidth: 0,
						  gutter: 0,
						  itemSelector: '.item'
					  });
					});

					$('#list-dot-template').infinitescroll({
						navSelector  : "#loading",
					    nextSelector : "#loading a",
					    itemSelector : "#list-dot-template .item",
						dataType: 'json',
					    appendCallback: false
					}, function(json, opts) {
						// Get current page
						var page = opts.state.currPage;
						console.log(page)
						$('#list-dot-template').append(George.render(Temp_apend, json));
						imagesLoaded( container, function() {
						  msnry = new Masonry( container, {
							  // options
							  columnWidth: 0,
							  gutter: 0,
							  itemSelector: '.item'
						  });
						});
					});

	            }, 1000 );
	        });
	    }
	});


	$('#fb_login').on('click',function(){

		if(George.env.loginStatus) {
			    $('#fb_user').text(George.env.userName);
                $('#fb_login').hide();
                $('#fb_logout').show();
		} else {
			FB.login(function(response) {
				George.loginUser({
					token: response.authResponse.accessToken
				},function(res){
					George.env.loginStatus = true;
				    $('#fb_user').text(res.name);
	                $('#fb_login').hide();
	                $('#fb_logout').show();
				});
			}, {scope: 'public_profile,email'});
		}

	});

	$('#fb_logout').on('click',function(){
		George.loginUser({
			token: response.authResponse.accessToken
		},function(res){
			console.log(res)
			// George.env.loginStatus = true;
		 //    $('#fb_user').text(res.name);
   //          $('#fb_login').hide();
   //          $('#fb_logout').show();
		});
	  //  	FB.logout(function(response) {
	  //  		$('#fb_user').text('訪客');
			// $('#fb_login').show();
			// $('#fb_logout').hide();
	  //   });
	});

</script>
{% endblock %}