{% extends "base.html" %}


{% block content %}



<div class="row level">{% include "component_loading.html" %}</div>


{% endblock %}


{% block js %}
<script type="text/javascript">

	var Temp = {{ js_template('george/template_item_list.html') }},

		// jquery object
		$level = $('.level'),
		$w = $(window);

	$w.on({
	    ready: function (){
	    	George.event.initDisplay();
		    George.getItemList({
		    	id: George.category
		    },function(res){
	            var real_data = [];
	            real_data = res;
	            George.Data = real_data;
	            $level.html(George.render(Temp, George.Data));
	            George.event.detectDeviceScreen();
	        });
	    },
	    resize: George.event.detectDeviceScreen
	});


	$('#fb_login').on('click',function(){

		if(George.env.loginStatus) {
			    $('#fb_user').text(George.env.userName);
                $('#fb_login').hide();
                $('#fb_logout').show();
		} else {
			FB.login(function(response) {
				George.loginUser({
					token: response.authResponse.accessToken
				},function(res){
					George.env.loginStatus = true;
				    $('#fb_user').text(res.name);
	                $('#fb_login').hide();
	                $('#fb_logout').show();
				});
			}, {scope: 'public_profile,email'});
		}

	});

	$('#fb_logout').on('click',function(){
		// if(George.env.loginStatus) {
	 //   		$('#fb_user').text('訪客');
		// 	$('#fb_login').show();
		// 	$('#fb_logout').hide();
		// }
	   	FB.logout(function(response) {
	   		$('#fb_user').text('訪客');
			$('#fb_login').show();
			$('#fb_logout').hide();
	    });
	});

</script>
{% endblock %}