body, input, select, textarea {
	font-size: 14pt;
	letter-spacing: 0.035em;
	line-height: 1.5em;
}

h1 {
	font-size: 1.25em;
}

h2 {
	font-size: 1.1em;
	margin-bottom: 0.5em;
}

.container {
	padding: 0 2em 0 2em;
}

.button {
	font-size: 1.25em;
	padding: 0.75em 2em 0.75em 2em;
}

/* Header */

	#header {
		position: relative;
		margin-top: 2em;
	}

/* Nav */

	#nav {
		position: absolute;
		top: 0;
		right: 0;
	}

	#nav a {
		margin-left: 2em;
	}

/* Hero */

	#hero {
		border-radius: 0.5em;
		margin: 2em 0 2em 0;
		padding: 3em 2em 3em 2em;
	}

	#hero h2 {
		font-size: 2.5em;
		margin-bottom: 0.75em;
	}

	#hero p {
		font-size: 1.25em;
		margin-bottom: 1.5em;
	}

/* Footer */

	#footer {
		margin: 3em 0 3em 0;
	}

/* Overlays */

	#leftPanelButton .toggle,
	#rightPanelButton .toggle {
		display: block;
		background: rgba(71,86,91,0.9);
		text-align: center;
		width: 80px;
		height: 60px;
		line-height: 60px;
		font-size: 1.25em;
		color: #fff;
	}

	#leftPanelButton .toggle {
		border-radius: 0 0 0.5em 0;
	}

	#rightPanelButton .toggle {
		border-radius: 0 0 0 0.5em;
	}