/* Header */

	#header {
		margin-top: 2em;
	}

/* Title */

	#title {
		text-align: center;
		margin: 0 0 1em 0;
	}

/* Nav */

	#nav {
		position: relative;
		text-align: center;
	}

	#nav a {
		margin: 0 1em 0 1em;
	}