/* line 1, ../sass/_desktop.scss */
.share {
  float: right;
}

/* line 6, ../sass/_desktop.scss */
.detail section {
  margin: 1em 0;
}

/* line 2, ../sass/style-narrow.scss */
body, input, select, textarea {
  font-size: 14pt;
  letter-spacing: 0.035em;
  line-height: 1.5em;
}

/* line 8, ../sass/style-narrow.scss */
h1 {
  font-size: 1.25em;
}

/* line 12, ../sass/style-narrow.scss */
h2 {
  font-size: 1.1em;
  margin-bottom: 0.5em;
}

/* line 17, ../sass/style-narrow.scss */
.button {
  font-size: 1.25em;
  padding: 0.75em 2em 0.75em 2em;
}

/* Header */
/* line 24, ../sass/style-narrow.scss */
#header {
  position: relative;
  margin-top: 5em;
}

/* Nav */
/* line 31, ../sass/style-narrow.scss */
#nav {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em 0;
}

/* line 38, ../sass/style-narrow.scss */
#nav a {
  margin-left: 2em;
}

/* Hero */
/* line 44, ../sass/style-narrow.scss */
#hero {
  border-radius: 0.5em;
  margin: 2em 0 2em 0;
  padding: 3em 2em 3em 2em;
}

/* line 50, ../sass/style-narrow.scss */
#hero h2 {
  font-size: 2.5em;
  margin-bottom: 0.75em;
}

/* line 55, ../sass/style-narrow.scss */
#hero p {
  font-size: 1.25em;
  margin-bottom: 1.5em;
}

/* Footer */
/* line 62, ../sass/style-narrow.scss */
#footer {
  margin: 3em 0 3em 0;
}

/* line 66, ../sass/style-narrow.scss */
#titleBar {
  height: 80px !important;
}
/* line 73, ../sass/style-narrow.scss */
#titleBar a {
  position: relative;
  top: -9px;
  left: 10px;
  font-size: 1.5em;
}

/* line 80, ../sass/style-narrow.scss */
.list_title {
  padding: 2em 0 1em 0;
}

/* line 84, ../sass/style-narrow.scss */
.tabs {
  width: 93%;
}

/* line 88, ../sass/style-narrow.scss */
.degoyu {
  display: none;
}
