/* line 1, ../sass/style-mobile.scss */
body, input, select, textarea {
  font-size: 12.5pt;
  line-height: 1.5em;
}

/* line 6, ../sass/style-mobile.scss */
h1 {
  font-size: 1.5em;
}

/* line 11, ../sass/style-mobile.scss */
h2 {
  font-size: 1.25em;
  margin-bottom: 0.5em;
}

/* line 16, ../sass/style-mobile.scss */
.container {
  padding: 0 1em 0 1em;
}

/* line 20, ../sass/style-mobile.scss */
.button {
  display: block;
  font-size: 1.25em;
  padding: 0.65em 0 0.65em 0;
}

/* Header */
/* line 29, ../sass/style-mobile.scss */
#header {
  margin-top: 2em;
  text-align: center;
}

/* Title */
/* line 36, ../sass/style-mobile.scss */
#title {
  display: none;
}

/* Nav */
/* line 42, ../sass/style-mobile.scss */
#nav a {
  margin: 0 0.5em 0 0.5em;
}

/* Hero */
/* line 48, ../sass/style-mobile.scss */
#hero {
  border-radius: 0.5em;
  line-height: 2em;
  margin: 2em 0 2em 0;
  padding: 3em 2em 3em 2em;
}

/* line 55, ../sass/style-mobile.scss */
#hero h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

/* line 60, ../sass/style-mobile.scss */
#hero p {
  font-size: 1.25em;
  margin-bottom: 1.5em;
}

/* Footer */
/* line 67, ../sass/style-mobile.scss */
#footer {
  margin-bottom: 2em;
}

/* Overlays */
/* line 74, ../sass/style-mobile.scss */
#leftPanelButton .toggle,
#rightPanelButton .toggle {
  display: block;
  background: none;
  height: 44px;
  line-height: 44px;
}

/* line 81, ../sass/style-mobile.scss */
#leftPanelButton .toggle {
  text-align: left;
  padding-left: 20px;
}

/* line 86, ../sass/style-mobile.scss */
#rightPanelButton .toggle {
  text-align: right;
  padding-right: 20px;
}

/* line 91, ../sass/style-mobile.scss */
.level {
  padding: .1em;
}

/* line 94, ../sass/style-mobile.scss */
.list_title {
  font-size: 1em;
}

/* line 97, ../sass/style-mobile.scss */
.pre-icon {
  height: 30px;
  bottom: -8px;
  left: -17px;
  position: relative;
}

/* line 103, ../sass/style-mobile.scss */
#list-dot-template {
  margin-bottom: 15em;
}

/* line 106, ../sass/style-mobile.scss */
#tagtoo {
  display: none;
}

/* line 110, ../sass/style-mobile.scss */
#search .submit {
  padding: 0em 0 1em 0;
}
