/* line 1, ../sass/_desktop.scss */
.share {
  float: right;
}

/* line 6, ../sass/_desktop.scss */
.detail section {
  margin: 1em 0;
}

/* line 3, ../sass/style-wide.scss */
body, input, select, textarea {
  font-size: 15pt;
  letter-spacing: 0.035em;
  line-height: 1.75em;
}

/* line 9, ../sass/style-wide.scss */
h1 {
  font-size: 1.5em;
}

/* line 13, ../sass/style-wide.scss */
h2 {
  font-size: 1.25em;
  margin-bottom: 0.75em;
}

/* line 18, ../sass/style-wide.scss */
.button {
  font-size: 1.25em;
  padding: 0.65em 2.25em 0.65em 2.25em;
}

/* Header */
/* line 25, ../sass/style-wide.scss */
#header {
  position: relative;
  margin-top: 5em;
}

/* Nav */
/* line 32, ../sass/style-wide.scss */
#nav {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em 0;
}

/* line 39, ../sass/style-wide.scss */
#nav a {
  margin-left: 2em;
}

/* Hero */
/* line 45, ../sass/style-wide.scss */
#hero {
  border-radius: 0.5em;
  margin: 3em 0 3em 0;
  padding: 4em 0 4em 0;
}

/* line 51, ../sass/style-wide.scss */
#hero h2 {
  font-size: 2.5em;
  margin-bottom: 1em;
}

/* line 56, ../sass/style-wide.scss */
#hero p {
  font-size: 1.25em;
  margin-bottom: 1.75em;
}

/* Footer */
/* line 63, ../sass/style-wide.scss */
#footer {
  margin: 3em 0 1em 0;
}

/* line 68, ../sass/style-wide.scss */
#titleBar {
  height: 80px !important;
}
/* line 71, ../sass/style-wide.scss */
#titleBar img {
  width: 30px;
}
/* line 75, ../sass/style-wide.scss */
#titleBar span {
  position: relative;
  top: -9px;
  left: 10px;
  font-size: 1.5em;
}
