body, input, select, textarea {
	font-size: 15pt;
	letter-spacing: 0.035em;
	line-height: 1.75em;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.25em;
	margin-bottom: 0.75em;
}

.button {
	font-size: 1.25em;
	padding: 0.65em 2.25em 0.65em 2.25em;
}

/* Header */

	#header {
		position: relative;
		margin-top: 3em;
	}

/* Nav */

	#nav {
		position: absolute;
		top: 0;
		right: 0;
	}

	#nav a {
		margin-left: 2em;
	}

/* Hero */

	#hero {
		border-radius: 0.5em;
		margin: 3em 0 3em 0;
		padding: 4em 0 4em 0;
	}

	#hero h2 {
		font-size: 2.5em;
		margin-bottom: 1em;
	}

	#hero p {
		font-size: 1.25em;
		margin-bottom: 1.75em;
	}

/* Footer */

	#footer {
		margin: 3em 0 3em 0;
	}