.detail {
	background: #ffffff;
	border-radius: 10px;
	padding: 0.1em 0;

	// section{
	// 	margin: 1em 0 ;
	// }
}

.chart {
	height: 25em;
}

#chart_bottom {
	ul {
		margin: 1em 0;
	}
	li {
		float: right;
		margin: 0em 0em;
	}
}
	.other {

	}



.separation {
	border: 2px dashed #BEBEBE;
	margin: 0em;
}