body {
  font-family : 'Open Sans', sans-serif;
}

.mikepad-loading {
  width : 100%;
  padding: 14em 0;
  // position: absolute;
  // top: 50%;
  // left : 50%;
  // -webkit-transform: translateY(-50%) translateX(-50%);
  // -moz-transform: translateY(-50%) translateX(-50%);
  // -o-transform: translateY(-50%) translateX(-50%);
  // transform: translateY(-50%) translateX(-50%);
}

.mikepad-loading .binding {
  content : '';
  width : 27px;
  height : 4px;
  border : 2px solid #E15958;
  margin : 0 auto;
}

.mikepad-loading .pad {
  width: 27px;
  height: 30px;
  border: 2px solid #E15958;
  border-top: 0;
  padding: 4px;
  margin: 0 auto;

  // width : 15px;
  // height : 18px;
  // border : 2px solid #E15958;
  // border-top : 0;
  // padding : 6px;
  // margin : 0 auto;
}

.mikepad-loading .line {
  width : 15px;
  margin-top : 4px;
  border-top : 2px solid #E15958;
  opacity : 0;
  -webkit-animation : writeline 3s infinite ease-in;
  -moz-animation : writeline 3s infinite ease-in;
  -o-animation : writeline 3s infinite ease-in;
  animation : writeline 3s infinite ease-in;
}

.mikepad-loading .line:first-child {
  margin-top : 0;
}

.mikepad-loading .line.line1 {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}

.mikepad-loading .line.line2 {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.mikepad-loading .line.line3 {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay : 1s;
}

.mikepad-loading .text {
  text-align : center;
  margin-top : 10px;
  color : #E15958;
  font-size: 1em;
}

@-webkit-keyframes writeline {
  0% { width : 0px; opacity: 0; }
  33% { width : 15px; opacity : 1; }
  70% { opacity : 1; }
  100% {opacity : 0; }
}

@-moz-keyframes writeline {
  0% { width : 0px; opacity: 0; }
  33% { width : 15px; opacity : 1; }
  70% { opacity : 1; }
  100% {opacity : 0; }
}

@-o-keyframes writeline {
  0% { width : 0px; opacity: 0; }
  33% { width : 15px; opacity : 1; }
  70% { opacity : 1; }
  100% {opacity : 0; }
}

@keyframes writeline {
  0% { width : 0px; opacity: 0; }
  33% { width : 15px; opacity : 1; }
  70% { opacity : 1; }
  100% {opacity : 0; }
}


//////////////////////////////////////////////////////
// $Var
$bg-color-1: #4EBA6F;
$bg-color-2: #2D95BF;
$bg-color-3: #F15A5A;
$bg-color-4: #955BA5;
$color: #5F5E58;
$bgcolor: #D3D3D3;

// $Mixin
@mixin size($width , $height: $width ) {
  width: $width;
  height: $height;
}

@mixin fontsize($size: 24, $base: 16) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}

@mixin absPosition ($top: auto, $right: auto, $bottom: auto, $left: auto) {
     position: absolute;
     top: $top;
     right: $right;
     bottom: $bottom;
     left: $left;
}

@mixin opacity($opacity) {
     opacity: $opacity;
     $opacityIE: $opacity * 100;
     filter: alpha(opacity=$opacityIE);
}

@mixin animation($animation...) {
  -o-animation: $animation;
  -moz-animation: $animation;
  -webkit-animation: $animation;
  animation: $animation;
}

@mixin keyframes($name) {
  @-o-keyframes $name { @content };
  @-moz-keyframes $name { @content };
  @-webkit-keyframes $name { @content };
  @-keyframes $name { @content };
}
/* $Base */
.loaders {
  height: 300px;
  line-height: 300px;
  background-color: $bg-color-1;
}

.loaders-bg-2 { background-color: $bg-color-2;}
.loaders-bg-3 { background-color: $bg-color-3;}
.loaders-bg-4 { background-color: $bg-color-4;}

.loader {
  display: inline-block;
  position: relative;
  @include size(50px);
  vertical-align: middle;
}

/*  $Loader Quadrant
  ========================================================================== */

.loader-quart {
  border-radius: 50px;
  border: 6px solid $bgcolor;
 &:after {
    content: '';
    @include absPosition(-6px, -6px, -6px, -6px);
    border-radius: 50px;
    border: 6px solid transparent;
    border-top-color: $color;
    @include animation(spin 1s linear infinite);
 }
}

/*  $Loader Double circle
  ========================================================================== */

.loader-double {
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: $color;
  border-bottom-color: $color;
  @include animation(spin 1.5s linear infinite);
  &:before,
  &:after {
    content: '';
    @include absPosition(5px, 5px, 5px, 5px);
    border-radius: 50px;
    border: 6px solid transparent;
    border-top-color: $color;
    border-bottom-color: $color;
    @include opacity(0.6);
    @include animation(spinreverse 2s linear infinite);
  }
  &:before {
    top: 15px;
    left: 15px;
    bottom: 15px;
    right: 15px;
    @include animation(spinreverse 3s linear infinite);
  }
}

/*  $Loader Multiple circle
  ========================================================================== */

.loader-circles {
  border-radius: 50px;
  border: 3px solid transparent;
  border-top-color: #fff;
  @include animation(spin 1s linear infinite);
  &:before,
  &:after {
    content: '';
    @include absPosition(5px, 5px, 5px, 5px);
    border-radius: 50px;
    border: 3px solid transparent;
    border-top-color: $color;
    @include opacity(0.8);
    @include animation(spinreverse 5s linear infinite);
  }
  &:before {
    top: 12px;
    left: 12px;
    bottom: 12px;
    right: 12px;
    @include animation(spinreverse 10s linear infinite);
  }
}

/*  $Loader Bars
  ========================================================================== */

.loader-bars:before,
.loader-bars:after,
.loader-bars span {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  @include size(10px, 30px);
  background-color: $color;
  @include animation(grow 1.5s linear infinite);
}

.loader-bars:after {
  left: 15px;
  @include animation(grow 1.5s linear -.5s infinite);
}

.loader-bars span {
  left: 30px;
  @include animation(grow 1.5s linear -1s infinite);
}

@include keyframes(grow) {
  0% { -webkit-transform: scaleY(0); transform: scaleY(0); opacity: 0;}
  50% { -webkit-transform: scaleY(1); transform: scaleY(1); opacity: 1;}
  100% { -webkit-transform: scaleY(0); transform: scaleY(0); opacity: 0;}
}

@include keyframes(spin) {
    0%{ -webkit-transform: rotate(0deg); tranform: rotate(0deg);}
  100%{ -webkit-transform: rotate(360deg); tranform: rotate(360deg);}
}

@include keyframes(spinreverse) {
    0%{ -webkit-transform: rotate(0deg); tranform: rotate(0deg);}
  100%{ -webkit-transform: rotate(-360deg); tranform: rotate(-360deg);}
}
