@media screen and (max-width: 480px) {
    .item {
        width: 100%;
    }

    .button-search {
        width: 90%;
    }
    .item-full {
        width: 100%;
    }
    #search {
        .input-search {
            input{
                width: 90%;
            }
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 960px) {
    .item {
        width: 50%;
    }

    .button-search {
        width: 90%;
    }
    .item-full {
        width: 100%;
    }
    #search {
        .input-search {
            input{
                width: 90%;
            }
        }
    }
}

@media screen and (min-width: 961px) and (max-width: 1199px) {
    .item {
        width: 50%;
    }
    .item-full {
        width: 50%;
    }
    #search {
        .level-img, .level-desc {
            float: left;
        }
    }
}

@media screen and (min-width: 1200px) {
    .item {
        width: 33.3333333333%;
    }
    .item-full {
        width: 50%;
    }
    #search {
        .level-img, .level-desc {
            float: left;
            max-width: 300px;
        }
    }
}
