.button-search {
    position: relative;
    display: inline-block;
    background: #5cbb65;
    color: #fff !important;
    border-radius: 0.25em;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 1px;
    // padding: 0.75em 3em 0.85em 3em;
    padding: 1em;
    box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.18);
    border: 0;
    -moz-transition: background-color 0.25s ease-in-out;
    -webkit-transition: background-color 0.25s ease-in-out;
    -o-transition: background-color 0.25s ease-in-out;
    -ms-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
    text-align: center;
    -webkit-text-stroke: 0px;
    cursor: pointer;
    &:active {
        box-shadow: none;
        top: 3px;
    }
}


#search {

    h2 {
        color: #E95757;
        font-size: 1em;
        padding: 1em 1em 0em 1em;
    }

    .level-title {
        color: #000000;
        font-size: 1em;
    }

    .input-search {
        input {
            margin: 0 1em;
            border-radius: 0;
            border-bottom: 1px solid #ECECEC;
        }
    }

    .level-body {
        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }

    .level-name {
        background-color: #5F5F5F;
        background: url('http://subtlepatterns.com/patterns/strange_bullseyes.png');
        height: 35px;
    }

    .level-desc {
        max-width: 100%;
    }

}