{% extends "ad/ad_base.html" %}
{% block css %}
<link rel="stylesheet" href="/media/ad/css/ad_g/ad_g_125x125.css?v={{version_id}}" type="text/css">
{% endblock %}
{% block content %}
<script type="text/javascript">
    loadScript("/smedia/ad/js/ad_g.js?v={{version_id}}", function() {
        // PART1. defined the default common parameters for this layout
        var layout = {
            item_num : 1,
            start_item : 0,
            width : 123,
            height : 123,
            show_store_price: true
            // 40 300 260
        };
        layout = merge_dictionary(Tagtoo.layout_config, layout);
        layout = Tagtoo.updateLayoutParams(layout);

        // PART2. calculate special parameters for this layout
        // 30 is the height of description
        // load template
        var pagefn = {{ js_template('templates/ad/layout/layout_g_org_125x125.html') }};
        Tagtoo.layout_config = layout;

        Tagtoo.queryAds(function(data) {
            var slideshow;
            var title_sn = {
                row: 5,
                rown: 10
            }, description_sn = {
                    row: 5,
                    rown: 10
                };
            HTMLFilter(data,title_sn,description_sn);

            Tagtoo.renderAds(pagefn, data);

            loadScript("//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js", function() {
                // PART4. bind event handlers & set animation
                Tagtoo.eventHandler.initLinkElement();
                Tagtoo.eventHandler.initTagtooLogoEventHandler();
                var slideshow_switch = "on";
                if(Tagtoo.layout_config.item_num >= Tagtoo.ad_data.length){
                    slideshow_switch = "off";
                }
                slideshow = Tagtoo.eventHandler.setSlideShow($('.item'), slideshow_switch);

                // PART 5. Bind customize event handler
                $("#adframe").on({
                    mouseover: function(){
                        slideshow.stop();
                    },
                    mouseleave: function(){
                        slideshow.resume();
                    }
                })

                $(".img").on({
                    mouseenter: function() {
                        $(this).find(".detail").stop().animate({
                            height: "91px"
                        }, 1);
                    },
                    mouseleave: function() {
                        $(this).find(".detail").stop().animate({
                            height: "0px"
                        }, 1);
                    }
                });

                $(".desc").on('click',".buy_now",function () {
                    var pages = $(this).closest(".item").attr("id").split("-");
                        Tagtoo.event.onClick(pages[1]);
                        window.open(Tagtoo.getClickUrl(pages[1]),'_blank');
                })

                $(".button_right").on('click',function () {
                    slideshow.to('next');
                })
                $(".button_left").on('click',function () {
                    slideshow.to('prev',0,layout.item_num);
                })

            });
        });
    });
</script>
{% endblock %}